{:booked-plugins
   {:dct-errors
      [{:date #time/date "2023-04-10",
        :dct :txn,
        :err [{:message "Plugin configured to fail on any transaction",
               :plugin "limabean.test.plugins.fail"}],
        :flag "*",
        :idx 2,
        :metadata {:dup nil},
        :narration "WIKIMEDIA ;",
        :payee "WIKIMEDIA",
        :postings [{:acc "Assets:Bank:Current",
                    :cur "NZD",
                    :idx 0,
                    :span-p [1 130 163],
                    :units -10.00M}
                   {:acc "Expenses:Donations",
                    :cur "NZD",
                    :idx 1,
                    :span-p [1 163 194],
                    :units 10.00M}],
        :provenance ["limabean.test.plugins.duplicate-txns"],
        :span-p [1 92 130]}
       {:date #time/date "2023-04-10",
        :dct :txn,
        :err [{:message "Plugin configured to fail on any transaction",
               :plugin "limabean.test.plugins.fail"}],
        :flag "*",
        :idx 3,
        :narration "WIKIMEDIA ;",
        :payee "WIKIMEDIA",
        :postings [{:acc "Assets:Bank:Current",
                    :cur "NZD",
                    :idx 0,
                    :span [0 471 552],
                    :units -10.00M}
                   {:acc "Expenses:Donations",
                    :cur "NZD",
                    :idx 1,
                    :span [0 555 573],
                    :units 10.00M}],
        :span [0 430 575]}
       {:date #time/date "2024-12-31",
        :dct :event,
        :description "Anticipating Doomed",
        :err [{:message "Plugin configured to fail on any event",
               :plugin "limabean.test.plugins.fail"}],
        :provenance [:booked "limabean.test.plugins.create-event"],
        :span-p [2 0 50],
        :type "Planning"}
       {:date #time/date "2024-12-31",
        :dct :event,
        :description "Doomed",
        :err [{:message "Plugin configured to fail on any event",
               :plugin "limabean.test.plugins.fail"}],
        :idx 4,
        :span [0 575 611],
        :type "Failure"}]}}
